<html>
   <body>
   
      <form action = "http://localhost:5000/result" method = "POST">
         <p style="background-color: antiquewhite; font-size:190%;text-align: center">
         	News_Name <input type = "text" name = "News_Name" /></p>
         <p style="background-color: antiquewhite; font-size:200%;text-align: center">
         	Page<input type = "text" name = "Page" /></p>
         
         <p style=" font-size:300%;text-align: center">
         	<input type = "submit" value = "검색" /></p>
      </form>
      
   </body>
</html>
